apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audiobookshelf
  template:
    metadata:
      labels:
        app: audiobookshelf
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"

      containers:
        - name: audiobookshelf
          image: ghcr.io/advplyr/audiobookshelf:latest
          ports:
            - containerPort: 80

          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false

          volumeMounts:
            - mountPath: "/audiobooks"
              name: audiobooks-storage
            
            - mountPath: "/podcasts"
              name: podcasts-storage

            - mountPath: "/config"
              name: config-storage

            - mountPath: "/metadata"
              name: metadata-storage

      volumes:
        - name: audiobooks-storage
          persistentVolumeClaim:
            claimName: audiobooks-pvc

        - name: podcasts-storage
          persistentVolumeClaim:
            claimName: podcasts-pvc

        - name: config-storage
          persistentVolumeClaim:
            claimName: config-pvc

        - name: metadata-storage
          persistentVolumeClaim:
            claimName: metadata-pvc
